on post-fs-data
    mkdir /data/misc/ipfs
    export IPFS_PATH /data/misc/ipfs

service ipfsinit /system/bin/ipfs init
#    class core
    user root
    group root
    seclabel u:r:ipfs:s0
    capabilities BLOCK_SUSPEND NET_ADMIN
    oneshot

#service ipfsd /system/bin/ipfs daemon
#    user root
#    group root
#    capabilities BLOCK_SUSPEND NET_ADMIN
#    seclabel u:r:ipfs:s0
#    oneshot
